.power-menu {
  background-color: $background;
  border-radius: $radii;
  padding: 10px;

  .widget {
    background-color: $hover;
    padding: 10px;
    margin: 10px;
    border-radius: $radii;
  }

  .power-button {
    border-radius: $radii;
    margin: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: $blue;
    .icon {
      font-size: $icon3;
      color: $background;
    }
  }

  .stat-button {
    margin: 15px;
    border-radius: $radii;
    .stat-line {
      background-color: $gray;
      color: $foreground;
    }
    .icon {
      font-size: $icon4;
    }
  }

  .profile {
    color: $foreground;
    &-img {
      border-radius: $radii;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      min-height: 100px;
      min-width: 100px;
      box-shadow: 0px 0px 30px rgba(0, 0, 0, 1);
    }
    &-wm, &-kernel, &-packages {
      font-size: $subtext_size;
    }
    &-name {
      font-size: $text_size;
      font-weight: bold;
    }
  }
}
