.control-center {
  background-color: $background;
  border-radius: $radii;

  .widget {
    background-color: $hover;
    padding: 20px;
    margin: 20px;
    border-radius: $radii;
  }

  .slider-box {
    .slider {
      scale trough{
        min-height: 20px;
        min-width:  30em;
        background-color: $gray;
        border-radius: $radii;
      }
      trough highlight{
        background-color: $foreground;
        border-radius: $radii;
      }
    }
    .icon {
      font-size: $icon4;
    }
  }

  .player {
    .player-art {
        padding: 20px;
        margin: 20 0 20 20;
        border-radius: $radii;
        .player-title {
          font-weight: bold;
          font-size: $text_size;
        }
        .player-artist {
          font-size: $subtext_size;
        }
    }
    .player-controls {
      margin: 20 20 20 0;
      .icon {
        padding: 8px;
        font-size: $icon3;
        color: $blue;
      }
    }
  }
}
